AWS_REGION=ap-south-1
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/{account-id}/vercel-clone-builds
S3_BUCKET_NAME=vercel-clone-deployments
SUPABASE_URL=https://[ref].supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
