# Supabase
DATABASE_URL=postgresql://postgres.[ref]:[password]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres
DIRECT_DATABASE_URL=postgresql://postgres.[ref]:[password]@aws-0-ap-south-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://[ref].supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# GitHub OAuth App
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_WEBHOOK_SECRET=random_secret_string

# AWS
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/{account-id}/servhub-mini-builds
S3_BUCKET_NAME=servhub-mini-deployments-{account-id}
CLOUDFRONT_DOMAIN=your-cf-domain.cloudfront.net
CLOUDWATCH_LOG_GROUP_API=/servhub/api
CLOUDWATCH_LOG_GROUP_BUILDER=/servhub/builder

# App
API_BASE_URL=http://localhost:3001
PORT=3001
JWT_SECRET=replace_for_dev
PLATFORM_DOMAIN=yourplatform.dev
